.search-card {
    width: 15rem;
    margin: auto;
    margin-top: 2rem;
  }

@media (min-width: 576px) {
    .search-card {
        width: 30.5rem;
        margin: auto;
        margin-top: 2rem;
      }
}

#pokemon-name {
text-align: center;
margin-top: 1rem;
margin-bottom: 1rem;
}

#pokemon-image {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem
}

@media (min-width: 576px) {
    #pokemon-image {
        width: 15rem;
    }
}

#pokemon-types {
    text-align: center;
}