.home-header {
  margin-top: 30px;
}

@media (min-width: 576px) {
  .home-header {
    margin-top: 50px;
  }
}

.potential-applications {
  margin: auto;
}

.other-information .container a {
  color: #4b6584;
}

.container-about-image-one {
  margin-bottom: 50px;
  /* border: 3px solid red; */
}

.container-about-image-two {
  margin-top: 40px;
  margin-bottom: 70px;
  /* border: 3px solid red; */
}

.container-about-image-three {
  margin-bottom: 50px;
  /* border: 3px solid red; */
}

.container-about-image-one img {
  display: block;
  margin: auto;
}

.container-about-image-two img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.container-about-image-three img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.images {
  width: auto;
  margin: auto;
}

.images img {
  width: 16rem;
  margin: auto;
}

.images a {
  color: #4b6584;
}

@media (min-width: 576px) {
  .images img {
    width: 22rem;
    margin: auto;
  }}

.container-about-image-one img {
  margin-top: 1rem;;
}

.container-about-image-two img {
  margin-top: 4rem;
  margin-bottom: 2rem;;
}

.container-about-image-three img {
  margin-top: 3rem;
}

.images .container-about-image-one cite {
  opacity: 0.7;
  display: block;
  text-align: center;
  margin: auto;
}

.images .container-about-image-two cite {
  opacity: 0.7;
  display: block;
  text-align: center;
  margin: auto;
}

.images .container-about-image-three cite {
  opacity: 0.7;
  display: block;
  text-align: center;
  margin: auto;
}
