#content-wrap {
  flex-direction: column;
}

.home-header {
  margin-top: 30px;
}

@media (min-width: 576px) {
  .home-header {
    margin-top: 50px;
  }
}

.home-card {
  margin: 10px auto 70px auto;
  float: none;
  max-width: 30rem;
}

.card-button {
  margin-right: 8px;
}