.home-header {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width: 576px) {
  .home-header {
    margin-top: 50px;
  }
}

.input-group {
  width: auto
}

@media (min-width: 576px) {
  .input-group {
    width: 32rem;
  }
}

#dream_sprite {
  width: 270px;
  height: 270px;
}

/* For future addition */
/* #default_sprite {
  width: 230px;
  height: 230px;
} */