/* #content-wrap {
  display: flex;
  flex-direction: column;
  min-height: 88vh;
  margin-top: 75px;
} */

.container {
  margin-bottom: 50px;
  /* border: 3px solid green; */
}

.potential-applications {
  margin: auto;
}

.other-information {
  flex: 1;
}

.other-information .container a {
  color: #4b6584;
}

.container-about-image-one {
  margin-bottom: 50px;
  /* border: 3px solid red; */
}

.container-about-image-two {
  margin-top: 40px;
  margin-bottom: 70px;
  /* border: 3px solid red; */
}

.container-about-image-three {
  margin-bottom: 50px;
  /* border: 3px solid red; */
}

.container-about-image-one img {
  display: block;
  margin: auto;
}

.container-about-image-two img {
  display: block;
  margin: auto;
  margin-bottom: 50px;
}

.container-about-image-three img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.images {
  margin: auto;
}

.images a {
  color: #4b6584;
}

.images .container-about-image-one cite {
  opacity: .7;
  display: block;
  text-align: center;
  margin: auto;
}

.images .container-about-image-two cite {
  opacity: .7;
  display: block;
  text-align: center;
  margin: auto;
}

.images .container-about-image-three cite {
  opacity: .7;
  display: block;
  text-align: center;
  margin: auto;
}
