footer {
    display: block;
    margin: auto;
    flex-shrink: 0;
}   

/* footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 2.5rem; /* Footer height */
  /* }  */

footer .row {
    margin-left: 12%;
}

footer img {
    margin-bottom: 6px;
}

.text-muted {
    cursor: pointer;
    text-decoration: none;
}

.text-muted:hover {
    text-decoration: underline;
}