footer {
  display: block;
  margin: auto;
}

footer .row {
  margin-left: 12%;
}

footer img {
  margin-bottom: 6px;
}

.text-muted {
  cursor: pointer;
  text-decoration: none;
}

.text-muted:hover {
  text-decoration: underline;
}
