#content-wrap {
   /* display: flex; */
  flex-direction: column;
  /* min-height: 60vh; */
  /* margin-top: 75px; */
}

.home-header {
  margin-top: 60px;
}

.home-card {
  margin: 10px auto 45px auto;
  float: none;
}

.card-button {
  margin-right: 8px;
}
