#dream_sprite {
  width: 270px;
  height: 270px;
}

#default_sprite {
  width: 230px;
  height: 230px;
}

hr {
  width: 58%;
  display: block;
  margin: auto;
  flex-shrink: 0;
}

.home-header {
  margin-top: 30px;
  margin-bottom: 30px;

}

@media (min-width: 576px) {
  .home-header {
    margin-top: 50px;
  }
}

.input-group {
  width: auto
}

@media (min-width: 576px) {
  .input-group {
    width: 32rem;
  }
}